.ar-img-cardfolio {
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 0;
}

.ar-img-portfolio {
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 0;
  border: 5px solid white;
  border-radius: 10px;
  background: #38b2ac; 
}

.ar-border-nav {
  border-top: 1px solid #a0aec0;
}